*{
    /*Reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*importaciones */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*/Importaciones */

/*Generales */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Headers */
header{
    background-color: #e8d8ca;
}
header img{
    size: 25px;
}
header ul li a {
    color: #3a3331;
    text-align: center;
}
/*/Headers */

/*Footer */
footer{
background-color: #e8d8ca;
}
footer h5{
    size: 50px;
    color: #5f3d33 ;
}
footer ul li a {
    color: #3a3331;
}
footer img{
    width: 8%;
}
/*/Footer */

ul{
    list-style: none;
}
h1{
    color: #5a4f4b;
}
h2{
    color: #786a64;
    font-size: 21px;
    font-style: italic;
}
h3{
    color: #827c78;
}
p{
color: #241f1e;
}
a {
text-decoration: none;
}
/*/Generales */

/*/Especificos */
    /*Especificos - Index */

.presentation{
    background-color: #e8d8ca;
    color: #a39087;
}
.presentation p{
    font-size: 13px;
}
body video{
    width: 70%;
}
.prendas-seleccionadas img{
    width: 30%;
}
    /* /Especificos - Index */

/*/Especificos */